html{
  scroll-snap-type: y mandatory;
}
.app{
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}
.app__videos{
  border-radius: 25px;
  position: relative;
  height: 100%;
  width: 80%;
  overflow: scroll;
  max-width: 500px;
  scroll-snap-type: y mandatory;
}
/* hide scrollbar for Chrome, Safari and Opera */
.app__videos::-webkit-scrollbar{
  display: none !important;
}
/*hide scrollbar for IE,Firefox and Edge */
.app__videos{
  -ms-overflow-style: none !important;/*IE,Edge*/
  scrollbar-width: none !important;/* Firefox */
}
